:root {
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

button,
input,
select,
textarea {
  font: inherit;
}
